# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# hphpize and cmake files
CMakeCache.txt
CMakeFiles/
CMakeLists.txt
Makefile
cmake_install.cmake
src/ext_mongo.php
